// ######### Variables #########

$blue: #2A2C41
$red: #FC4D50
$white: #E6E6EA

// ########## Styles ###########

/* #Basic Styles */
/* ================================================== */

body
    background-color: $blue


/* #Typography */
/* ================================================== */

p, h1, h2, h3, h4, h5, h6
    color: $white

h1
    letter-spacing: 0.03em
    font-size: 5.2em

h2
    margin-bottom: 0

.passion
    color: $red
    margin-top: -0.3em
    margin-bottom: 1em

p
    font-size: 1.3em

/* #Links */
/* ================================================== */

a
    @extend img


/* #Images */
/* ================================================== */

img
    width: 100%

